/* .dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.dashboard .boards {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */
